#{extends 'main.html' /}
#{set title:'MakVibes' /}

#{form @save(), class:"well form-inline"}
<div class="well" id="newMessage">
    <input type="hidden" name="vibe.author" value="${user?.name}">
    #{field 'vibe.message'}
    <p class="${field.errorClass}">
        <input class="input-small" type="text" name="${field.name}" id="message" placeholder="what's on your mind?" value="${vibe?.message}"/>
        <input class="btn" type="submit" value="Update">

    </p>
    <span class="error">${field.error}</span>
    #{/field}

</div>
#{/form}

<div class="page-header">
    <h1>Vibes</h1>
</div>

<div class="row">
#{list vibes, as:'vibe'}
  <span class="span3 well">
      <blockquote>
          <p id="vibe${vibe.id}">${vibe.message}
              <small>
                  #{if user?.hasModeratorAccess()}<span class="author">${vibe.author}, </span>#{/if}${vibe.postedOn.since()}
              </small>
          </p>
      </blockquote>
  </span>
#{/list}
</div>