#{extends 'main.html' /}
#{set title:'MakVibes' /}

#{form @save(), class:"well form-inline"}
<div class="well" id="newMessage">
    <input type="hidden" name="vibe.author" value="${user?.name}">
    #{field 'vibe.message'}
    <p class="${field.errorClass}">
        <input class="input-small" type="text" name="${field.name}" id="message" placeholder="what's on your mind?" value="${vibe?.message}"/>
        <input class="btn" type="submit" value="Update">

    </p>
    <span class="error">${field.error}</span>
    #{/field}

</div>
#{/form}

<div class="tag-cloud">
    <span class="span2"><h6>Top Vibes: </h6></span>
    #{list tagCloud, as:'tag'}
    <span class="cloud-label">${tag}</span>
    #{/list}
</div>

<div class="page-header">
    <h1>Vibes</h1>
</div>

<div class="row">
#{list vibes, as:'vibe'}
  <span class="span3 well">
      <blockquote><p>${vibe.message}<small> #{if user?.hasModeratorAccess()}${vibe.postedBy.name}, #{/if}${vibe.postedOn.since()}</small></p></blockquote>
  </span>
#{/list}
</div>